<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Views</th>
    </tr>
  </thead>
  <tbody>
    <% @streams.each do |stream| %>
    <tr>
      <td><%= link_to stream.title, stream_path(stream) %></td>
      <td><%= stream.views %></td>
    </tr>
    <% end %>
  </tbody>
</table>
